<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Travel Agency</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProjectServ.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body class="modern-body">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light modern-navbar mb-4">
        
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Travel Agency</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark @(ViewContext.RouteData.Values["controller"]?.ToString() == "Tours" ? "active" : "")"
                               asp-controller="Tours" asp-action="Index">Tours</a>
                        </li>

                        @if (User.Identity.IsAuthenticated && !User.IsInRole("admin"))
						{
                            <li class="nav-item">
                                <a class="nav-link text-dark @(ViewContext.RouteData.Values["controller"]?.ToString() == "Clients" ? "active" : "")"
                                   asp-controller="Clients" asp-action="Details" asp-route-id="@User.FindFirst("ClientId")?.Value">My booking</a>
                            </li>
						}
                        
                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark @(ViewContext.RouteData.Values["controller"]?.ToString() == "Clients" ? "active" : "")"
                                   asp-controller="Clients" asp-action="Index">Clients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @(ViewContext.RouteData.Values["controller"]?.ToString() == "Bookings" ? "active" : "")"
                                   asp-controller="Bookings" asp-action="Index">Bookings</a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark @(ViewContext.RouteData.Values["controller"]?.ToString() == "Chat" ? "active" : "")"
                                   asp-controller="Chat" asp-action="Private">Chat</a>
                            </li>
                        }
                                              
                     
                    </ul>
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="navbar-brand" asp-page="/Account/Login" asp-area="Identity">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-page="/Account/Register" asp-area="Identity">Register</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="navbar-brand" asp-page="/Account/Logout" asp-area="Identity">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer modern-footer mt-5">
        <div class="container">
			&copy; 2026 - TravelAgency
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
